.cart-container {
    max-width: 1200px;
    margin:80px auto;
    padding: 20px;
  }
  


  h2 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #1e50a2;
  }
  
  .cart-items {
    border-bottom: 2px solid #eee;
    margin-bottom: 20px;
  }
  
  .cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
  }
  
  .item-info {
    display: flex;
    align-items: center;
    flex: 2;
  }
  
  .cart-img {
    width: 100px;   /* Set the width of the image */
    height: auto;   /* Maintain the aspect ratio */
    margin-right: 15px; /* Add space between the image and the product details */
    border-radius: 8px; /* Optional: rounded corners */
    object-fit: cover;  /* Ensures the image fits within the box without distortion */
  }
  
  .item-details {
    display: flex;
    flex-direction: column;
  }
  
  .item-details h4 {
    margin: 0;
    font-size: 18px;
  }
  
  .item-details p {
    margin: 5px 0;
    color: #777;
  }
  
  .item-price, .item-quantity, .item-total, .item-action {
    text-align: center;
    flex: 1;
  }
  
  
  
  
  
  
  
  
  .checkout-btn {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    
  }
  
  .checkout-btn:hover {
    background-color: #444;
  }

  .cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    padding: 15px 0;
    border-bottom: 2px solid #1e50a2;
    text-transform: uppercase;
    
  }
  
  .header-item {
    flex: 2;
    text-align: left;
  }
  
  .header-price, .header-quantity, .header-total, .header-action{
    flex: 1;
    text-align: center;
  }


  .cart-summary {
    border: 1.5px solid #1e50a2; /* Optional: Border for the box */
    padding: 10px;          /* Padding inside the box */
    border-radius: 5px;     /* Rounded corners for the box */
    width: 40%;
    background-color: #ffdb59;
    box-shadow: 0 20px 15px rgba(13, 22, 184, 0.1)
}

.total-item {
    display: flex;                     /* Use flexbox for alignment */
    justify-content: space-between;    /* Space between label and amount */
    padding: 5px 0;                   /* Space between items */
}

.amount {
    font-weight: bold;                 /* Make the amount bold for emphasis */
    text-align: right;                 /* Right align the amounts */
    width: 100px;                      /* Fixed width for right alignment */
}


.summary-container {
    display: flex;              /* Use flexbox for the layout */
    justify-content: flex-end;  /* Align items to the right */
    padding: 20px;             /* Optional: Add padding for spacing */
}