.reviewcard {
    width: 17em;
    height: 22.5em;
    background: #fbf2e6;
    transition: 1s ease-in-out;
    clip-path: polygon(30px 0%, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0% 30px);
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .reviewcard span {
    font-weight: bold;
    color: green;
    text-align: center;
    display: block;
    font-size: 1em;
  }
  
  .reviewcard .info {
    font-weight: 400;
    color: green;
    font-weight: bold;
    display: block;
    text-align: center;
    font-size: 0.72em;
    margin: 1em;
  }
  
  .reviewcard .img {
    width: 4.8em;
    height: 4.8em;
    background: white;
    border-radius: 15px;
    margin: auto;
  }
  

