
.admin-profile {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    
  }
  
  .profile-details {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .button-container {
    display: flex;
    gap: 10px; /* Adds space between the buttons */
    margin-top: 20px; /* Adds some space above the buttons */
  }
  
  .logout-button, .e-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
  }
  
  .logout-button:hover, .e-button:hover {
    background-color: #0056b3; /* Darker blue for hover effect */
  }
  
  