h1{
    font-size: 35px;
    color: #006657;
    margin-bottom: 30px;
}

.product-detail {
    padding: 20px;
    margin: 100px 30px; 
    border-radius: 10px; 
    background: #fff; 

}
.product-layout {
    display: flex; 
    gap: 20px;
    margin: 20px 0;
}


.carousel-box {
    max-width: 600px; 
    margin: 0 auto; 
    position: relative; 
    padding: 0;
    background: white; 
    height: 400px; 
    overflow: hidden;
    
}
.carousel-box:before {
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    border: 10px solid transparent;
    border-image: linear-gradient(135deg, #006657, #009688) 1; 
    border-radius: 15px;
    z-index: -1;
    transition: transform 0.3s ease;
}
.product-data {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border: 1px solid #ccc; 
    border-radius: 10px;
    background: #f9f9f9; 
    
}

.carousel-box:hover:before {
    transform: scale(1.05); 
}

.carousel-box img {
    width: 100%; 
    height: auto;
    max-height: 100%; 
    object-fit: cover; 
    object-position: center;
}



.slick-list {
    padding: 0; 
}

.slick-track {
    display: flex;
    justify-content: center; 
}
.slick-prev,
.slick-next {
    width: 40px !important;
    height: 40px !important;
    z-index: 1 !important;
    background-color: transparent !important;
    position: absolute !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
    cursor: pointer !important;
    opacity: 0.75 !important; 
}


.slick-prev {
    left: 10px !important; 
    background-image: url('../assets/arrow-left.png') !important; 
    background-size: contain !important; 
    background-repeat: no-repeat !important;
    background-position: center !important;
    border: solid;
}


.slick-next {
    right: 10px !important;  
    background-image: url('../assets/arrow-right.png') !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}


.slick-prev:before,
.slick-next:before {
    content: none !important;
}


.slick-prev:hover,
.slick-next:hover {
    opacity: 1; 
    transform: scale(1.1); 
}


.add-to-cart-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #183153;
    font-family: "Montserrat", sans-serif;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    cursor: pointer;
    border: none;
    margin-top: 20px;
    width: 200px;
    height: 30px;
}

.add-to-cart-button:after {
    content: " ";
    width: 0%;
    height: 100%;
    background: #ffd401;
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
}

.add-to-cart-button:hover::after {
    right: auto;
    left: 0;
    width: 100%;
}

.add-to-cart-button span {
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 18px 25px;
    color: #fff;
    font-size: 1.125em;
    font-weight: 700;
    letter-spacing: 0.3em;
    z-index: 20;
    transition: all 0.3s ease-in-out;
}

.add-to-cart-button:hover span {
    color: #183153;
    animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1);
    }
}

  .out-of-stock-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #ccc;
    color: #666;
    font-family: "Montserrat", sans-serif;
    cursor: not-allowed; 
    border: none;
    padding: 10px 20px;
    width: 200px;
}



.product-description {
    margin-top: 30px;
    padding: 20px;
    background-color: #f8f9fa; /* Light gray background for description */
    width: 100%;
    border-top: 1px solid #e9ecef; /* Light border above the description */
}


.original-price {
    text-decoration: line-through; 
    color: #999; 
}

.discounted-price {
    color: red; 
    font-weight: bold; }