.admin-product-view-page {
    display: flex;
    background-color: #f5f5f5;
}

.admin-product-view {
    margin-left: 250px; /* Adjust based on the width of your sidebar */
    padding: 20px;
    width: 100%;
}

.product-info {
    display: block;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    max-width: 800px;
    margin: 0 auto;
}

.product-info h3 {
    margin-bottom: 10px;
}

.product-info p {
    margin: 5px 0;
}

.product-images {
    margin-top: 20px;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
}

.product-image {
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

.edit-button {
    padding: 5px 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 90px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.edit-button:hover {
    background-color: #45a049;
}