.News-container {
    display: block;
    height: 120vh;
    width: 100%;
    background-color: #decdbb;
    overflow: hidden; 
}

.Title {
    display: flex;
    justify-content: center;
    align-items: center;    
    width: 100%;
}

.Title p {
    font-family: "Modak", system-ui;
    font-weight: 400;
    font-style: normal;  
    color: rgb(225, 225, 225);
    font-size: 120px;
    text-align: center;
    margin: 0;
}


.carousel {
    width: 90%; 
    margin: auto;
}

.carousel-item {
    height: 80vh;
    width: 100%;
    position: relative;
}

.carousel-item img {
    width: auto;
    height: 100%;
    object-fit: cover; 
}

.carousel-caption {
    position: absolute; 
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%); 
    color: white; 
    z-index: 2; 
    text-align: center; 
}

.carousel-caption h3 {
    font-size: 30px;
    
    margin: 0; 
    background-color: whitesmoke;
}

.carousel-caption p {
    font-size: 16px;
    margin: 0; 
}